* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  text-align: center;
  min-width: 350px;
}



@keyframes dce-rotate {
  from { transform: rotate(0turn); }
  to { transform: rotate(1turn); }
}
@keyframes dce-scanlight {
  from { top: 0; }
  to { top: 97%; }
}